.faq-wrapper {
	@extend %container;
}
.faq-row {
	@extend %row;
}
.faq {
	@extend %col-lg-10;
	@extend %col-lg-offset-1;
	@extend %col-md-10;
	@extend %col-md-offset-1;
	@extend %col-sm-12;
	@extend %col-sm-offset-0;
}
.q-and-a {
	margin-bottom: 3rem;

	.question {
		font-weight: $bold;
		font-size: 1.7rem;
		margin-bottom: 1rem;
		text-align: center;

	}

	.answer {

		margin-bottom: 1em;


		&.short {
			text-align: center;
		}
	}
}
