.nav-wrapper {
	@extend %container;
}
.nav-row {
	@extend %row;
}
.nav {
	@extend %col-lg-10;
	@extend %col-lg-offset-1;
	@extend %col-md-10;
	@extend %col-md-offset-1;
	@extend %col-sm-12;
	@extend %col-sm-offset-0;

	//background: rgba($logo-main,0.3);
	//border: 2px solid rgba($logo-accent,0.7);
	
	margin-bottom: 3em;

}
.nav-menu-mobile {
	@extend %clearfix;
	display: none;
	@media #{$notlarge} { 
		display: block;
		text-align: right;
		margin-top: 1em;
		margin-bottom: 0.5em;
	}
}
.nav-button {
	background: transparent;
	border: none;
	color: $textcolor;
	height: 40px;

	svg {
		float: right;
		fill: $textcolor;
		height: 40px;
		width: 40px;
	}
	.button-text {
		float: left;
		line-height: 40px;
	}
}
.nav-inner {
	@extend %clearfix;
	position: relative;
	top: -2px;

	border-bottom: 2px solid $hrcolor;

	@media #{$notlarge} {
		transition: max-height 0.2s; // cheap hack
		background: $hrcolor;
		border-radius: 3px;
		top: 0;
		border: 1px solid $hrcolor;
		max-height: 700px;


		&.closed {
			max-height: 0;
			overflow: hidden;
		}
	}

	.left, .right {
		margin-top: 2em;
		margin-bottom: 1.5em;
		position: relative;
		top: 2px;

		@media #{$notlarge} { 
			float: none;
			top: 0;
			margin: 0;
		}
	}

	.left {
		float: left;
		@media #{$notlarge} { 
			float: none;
		}
		a {
			margin-right: 3em;
			@media #{$notlarge} { 
				margin-right: 0;
			}
		}
	}
	.right {
		float: right;
		@media #{$notlarge} { 
			float: none;
		}
		a {
			margin-left: 3em;
			@media #{$notlarge} { 
				margin-left: 0;
			}
		}
	}

	a {
		border-bottom: 2px solid transparent;
		font-weight: $bold;

		padding-top: 2em;
		padding-bottom: 1.5em;

		position: relative;

		text-decoration: none;
		text-align: center;

		&:hover {
			border-bottom: 2px solid $highlight;
			@media #{$notlarge} {
				background: $highlight;
				color: #fff;
				border-bottom: 2px solid transparent;
			}
		}
		&.current {
			border-bottom: 2px solid $textcolor;
			@media #{$notlarge} {
				border-bottom: 2px solid transparent;
				text-decoration: underline;
				/*
				&:before, &:after {
					top: 1.75em;
					display: block;
					position: absolute;
				}
				&:before {
					content: '\00bb';
					left: 25%;
				}
				&:after {
					content: '\00ab';
					right: 25%;
				} */
			}
		}

		@media #{$notlarge} {
			display: block;
			margin: 0 auto;
		}

	}

		
}
	