.nav-wrapper {
	@extend %container;
}
.nav-row {
	@extend %row;
}
.nav {
	@extend %col-lg-10;
	@extend %col-lg-offset-1;
	@extend %col-md-10;
	@extend %col-md-offset-1;
	@extend %col-sm-12;
	@extend %col-sm-offset-0;

	background: rgba($logo-main,0.3);
	border: 2px solid rgba($logo-accent,0.7);
	
	border-radius: 3px;

	padding: 1em 0;

	margin-bottom: 2em;

}
.nav-inner {
	display: table;
	width: 100%;

	a {
		color: #333;
		display: table-cell;
		text-decoration: none;
		text-align: center;

		&:hover {
			text-decoration: underline;
		}
	}
		
}
	