<!DOCTYPE html >
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js fullpage"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>HappyStat | AOL</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="icon" type="image/png" href="./images/common/favicon.png" /> -->

        <link rel="stylesheet" href="./css/main.css">
      
        <script src="./js/plugins/modernizr-respond.js"></script>

        @@include('./partials/jstop.html')

    </head>
    <body ontouchstart="">
        @@include('./partials/svgs.html')

        <div class="wrapper">

        @@include('./partials/header.html')

        @@include('./partials/nav.html')

        <main class="main-content">

        @@include('./partials/faq.html')

        </main>

        @@include('./partials/footer.html')

        </div>
        
        @@include('./partials/jsbottom.html')
        

    </body>
</html>