<div class="faq-wrapper">
	<div class="faq-row">
		<section class="faq">
			<h2>FAQ</h2>
			<div class="q-and-a">
				<h3>Why do you care about this data?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="q-and-a">
				<h3>Do I have to participate?</h3>
				<p>Nope. Only if you want to.</p>
			</div>
			<div class="q-and-a">
				<h3>What is &ldquo;Suggestion Box&rdquo;?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="q-and-a">
				<h3>How is my data going to be used?</h3>
				<p>We constantly strive to make AOL a great place to work, so we appreciate your candid feedback about working at AOL. Your feedback will be combined with others by the HR People Analytics team as we look for trends and themes to improve the overall employee experience.</p>
			</div>
			<div class="q-and-a">
				<h3>Where did this come from?</h3>
				<p>Text about the Automate hackathon.</p>
			</div>
			<div class="q-and-a">
				<h3>I still have questions. Who can I talk to?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			
		</section>
	</div>
</div>