<div class="faq-wrapper">
	<div class="faq-row">
		<section class="faq">
			<div class="q-and-a">
				<h2 class="question">What is &ldquo;HappyStat&rdquo;?</h2>
				<p class="answer">Team Happiness came into the Breakout Automate-a-Thon with a single mission: To make sure you are happy.</p>
				<p>HappyStat is a simple, efficient way for you to provide a quick temperature check on how you feel about your job.</p>
			</div>
			<div class="q-and-a">
				<h2 class="question">Why do you care about this data?</h2>
				<p class="answer short">Open. Live. Mobile. Culture. Code.</p>
				<p class="answer">These are words that you regularly hear from our leadership teams, and we believe that we should hear from you as well! HappyStat is all of these things&mdash; it allows you to tell us how you're feeling "right now" so that we can better understand the sentiment across the organization at any given time. The company-wide results will be visible to everyone, and we'll integrate analysis of HappyStat trends into regular reporting and decision-making that happens across the leadership and management teams.</p>
			</div>
			<div class="q-and-a">
				<h2 class="question">How is my data going to be used?</h2>
				<p class="answer">We constantly strive to make AOL a great place to work, so we appreciate your candid feedback about working at AOL. Your feedback will be combined with others by the HR People Analytics team as we look for trends and themes to improve the overall employee experience.</p>
			</div>
			<div class="q-and-a">
				<h2 class="question">Do I have to participate?</h2>
				<p class="answer short">Nope. Only if you want to.</p>
			</div>
			<div class="q-and-a">
				<h2 class="question">What is &ldquo;Suggestion Box&rdquo;?</h2>
				<p>You might have something that you want to share but communicating via emoji just won&rsquo;t do. In that event, we've provided Suggestion Box, an open text field with which you can share your best suggestions and ideas for improvement.</p>
			</div>
			<div class="q-and-a">
				<h2 class="question">I still have questions. Who can I talk to?</h2>
				<p class="answer">The HappyStat team is here to help you with anything you need! If you would like to contact a team member directly, just head on over to the <a href="/team.html">Meet The Team</a> section to see who is involved in the project. Also feel free to email <a href="mailto:HappyStat@teamaol.com">HappyStat@teamaol.com</a> so that anyone on the team can respond to you quickly!</p>
			</div>
			
		</section>
	</div>
</div>