<div class="aolheader-wrapper">
	<header class="aolheader">
		<div class="aolheader-inner">
			<div class="hs-logo">
				<a class="hs-logo-link" href="/">
					HappyStat Logo Goes Here
					<!-- <svg class="svg--aol" viewbox="0 0 100 40">
		 				<use xlink:href="#svg-aol"></use>
					</svg> -->
				</a>
			</div>
			<div class="aol-logo">
				<a class="aol-logo-link" href="/">
					<svg class="svg--aol" viewbox="0 0 100 40">
		 				<use xlink:href="#svg-aol"></use>
					</svg>
				</a>
			</div>
		</div>
	</header>
</div>