<div class="nav-wrapper">
	<div class="nav-row">
		<nav class="nav">
			<div class="nav-menu-mobile">
				<button class="nav-button">
					<svg class="svg-aol-menu" viewbox="0 0 426 201">
		 				<use xlink:href="#svg-aol-menu"></use>
					</svg>
					<span class="button-text">Menu</span>
				</button>

			</div>
			<div class="nav-inner closed">
				<div class="left">
					<a data-href="dash" href="index.html">Dashboard</a>
					<a data-href="update" href="update.html">Update My HappyStat</a>
					<a data-href="suggestion" href="suggestion.html">Suggestion Box</a>
				</div>
				<div class="right">
					<a data-href="faq" href="faq.html" >FAQs</a>
					<a data-href="team" href="team.html" >Meet the Team</a>
				</div>
			</div>
		</nav>
	</div>
</div>