<div class="suggestion-wrapper">
	<div class="suggestion-row">
		<div class="suggestion">
			<h2 class="suggestion-title">Have a thought or idea that can’t be properly articulated via emoji?<br>
			Why not drop a note into our digital Suggestion Box?</h2>
			

		</div>
	</div>
	<div class="suggestion-form-row">
		<form class="suggestion-form">
			<input type="hidden" id="cdid" name="cdid" value="andrewtheroux" />

			<div class="form-section-first">
				<label  class="suggestion-label textarea-label" for="suggestiontext">If you have a great idea, something you want to get off your chest, or want to recognize a fellow AOLer's great effort, we want to hear about it.

				<span class="limit">(500 characters max)</span></label>
				<textarea id="suggestiontext" name="suggestiontext" required /></textarea>
			</div>

			<div class="form-section-second">
				<fieldset class="topic">
					<legend  class="suggestion-label fieldgroup-label " for="topic">Categorize your comment.</legend>
					<span class="instruction" aria-hidden>Categorize your comment.</span>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="shoutout" name="topic" value="shoutout" />
						<label for="shoutout">Shoutout</label>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="workflow" name="topic" value="workflow" />
						<label for="workflow">Workflow Improvement</label>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="newidea" name="topic" value="newidea" />
						<label for="newidea">New Idea</label>
					</div>
					<div class="checkbox-wrapper">
						<input type="checkbox" id="problem" name="topic" value="problem" />
						<label for="problem">Problem</label>
					</div>
				</fieldset>
			</div>

			<div class="form-section-third">
				<input type="hidden" id="referrer" name="referrer" value="suggestionbox"/>
				<button class="suggestion-submit" disabled type="submit">
					<svg class="svg-caret" viewbox="0 0 426 201">
		 				<use xlink:href="#svg-right-caret"></use>
					</svg>
					<span class="button-text">Submit Form</span>
				</button>
			</div>
		</form>

	</div>
</div>