<div class="suggestion-wrapper">
	<div class="suggestion-row">
		<div class="suggestion">
			<form class="suggestion-form">
				<label class="suggestion-label" for="cdid">CDID</label>
				<input type="text" id="cdid" name="cdid" required />

				<label  class="suggestion-label" for="niceperson">Who is an unsung hero at AOL that has made your work life better?</label>
				<input type="textarea" id="niceperson" name="niceperson" />

				<label  class="suggestion-label"  for="wildcard">What else do you want to tell us? Share anything with us below!</label>
				<textarea id="wildcard" name="wildcard" ></textarea>

				<label  class="suggestion-label" for="hashtag">Give us a hashtag to help us categorize it, if you're up for it: #idea, #problem, etc. (Optional.)</label>
				<input type="text" id="hashtag" name="hashtag" />

				<input type="hidden" id="referrer" name="referrer" value="suggestionbox"/>
				<input class="suggestion-submit" type="submit">
			</form>

		</div>
	</div>
</div>