<div class="team-wrapper">
	<div class="team-row">
		<section class="team">
			<div class="bio">
				<img class="photo" src="./images/headshots/andrew.jpg" alt="Andrew Theroux" />
				<div class="text">
					<h3 class="name">Andrew Theroux</h3>
					
					<p>Andrew is the Sr. Engineer for the BE team, and is a slave to making things better. He&rsquo;s driven by creative problem solving and cares deeply about improving systems&mdash;that part of his brain just won&rsquo;t shut off. Code is merely one of the tools in his arsenal.</p>
					<p>
					Andrew originated the seed that grew into HappyStat, wrote the code, and served as team lead during the Breakout Automate-a-thon, but he couldn&rsquo;t have done it without stellar teammates.</p>
				</div>
			</div>
			<div class="bio">
				<img class="photo" src="./images/headshots/mk.jpg" alt="Michael Krogmann" />
				<div class="text">
					<h3 class="name">Michael Krogmann</h3>
					
					<p>Michael is a Sr. Product Manager for the BE team. For Team HappyStat, he kept the end product streamlined and focused, which is what he likes to do with all products, more or less.</p>
					<p>Michael loves the challenge of taking an original idea, cutting through all clutter and roadblocks, and delivering an outstanding end product that users will love.</p>
				</div>
			</div>
			<div class="bio">
				<img class="photo" src="./images/headshots/shay.jpg" alt="Shay McCloskey" />
				<div class="text">
					<h3 class="name">Shay McCloskey</h3>
					
					<p>Shay is the Sr. Director of Design and Product Innovation for the BE team. He enjoys solving complex visual communication and UX problems with original and thoughtful thinking and execution.</p> 
					<p>Shay visualized the HappyStat brand, created the user experience and chipped in with some product insight.</p>
				</div>
			</div>
			<div class="bio">
				<img class="photo"  src="./images/headshots/lauren.jpg" alt="Lauren Giovannitti"/>
				<div class="text">
					<h3 class="name">Lauren Giovannitti</h3>
					
					<p>Lauren is a Human Resources Business Advisor for several groups within AOL. Her passion lies with aiding AOLers along their journey within the company and helping them develop their best work assets.</p>
					<p>Within HappyStat, she focused on marrying new ideas with existing procedures and is responsible for helping to take the project past its initial presentation launch and integrating it into daily life at AOL.</p>
				</div>
			</div>
			<div class="bio">
				<img class="photo" src="./images/headshots/john.jpg" alt="John Callery"/>
				<div class="text">
					<h3 class="name">John Callery</h3>
					
					<p>John is Director of People Analytics for the HR team. His team is focused on continuing to make AOL a great place to work by using data and science to make better people decisions, and he is tremendously excited about the possibilities of using HappyStat for this effort.</p>
					<p>During the Breakout, he helped out with research on the survey questions, transparency and access to results, compliance, and how to connect the new product with existing systems and processes.</p>
				</div>
			</div>
		</section>
	</div>
</div>