@font-face {
  font-family: 'BentonSans-Bold';
  src: url('../fonts/bentonsans/BentonSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans-Regular';
  src: url('../fonts/bentonsans/BentonSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BentonSans-Light';
  src:  url('../fonts/bentonsans/BentonSans-Light.otf')  format('opentype');
  font-weight: light;
  font-style: normal;
}