//// Theme Variables

// Fonts
$headline-font : 'Source Sans Pro','HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$subheadline-font : 'Source Sans Pro','HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$label-headline-font: 'Source Sans Pro','HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
$copy-font : 'Source Sans Pro','HelveticaNeue', 'Helvetica', 'Arial', sans-serif;

$copy-size-lg : 14px;
$copy-size-sm : 12px;

// Colors